html, body{
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}

.cardDiv{
    background: var(--card-color);
    margin: .8rem;
    border-radius: 1rem;
    box-shadow: 0 5px 8px 1px #313131;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardDiv img{
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}
.cardDiv strong{
    margin: 0;
    font: 700 1.6rem Roboto;
}
.cardDiv p{
    margin: 0;
    font: 300 .8rem Roboto;
}
.card{
    background: var(--card-color);
    font: 100 1.2rem Roboto;
    margin: .8rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
#perdas{
    font-weight: 900;
    color: red;
}
#ganhos{
    font-weight: 900;
    color: lightgreen;
}
.card strong{
    color: var(--text-color);
    line-height: 60%;
    font-size: 1.2rem;
    font-weight: 700;
}

.card strong p{
    font-size: rem;
    color: darkgray;
}

.spacer{
    height: 1rem;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}

a{
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    font: 2rem 900 Roboto;
    color: black;
}
h1{
    color: var(--text-color);
}
